---
title: false
styles: true
---


// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #05bf85 !default;

// Text colours
$headingColour: #242e2b !default;
$bodyColour: #384743 !default;
$linkColour: #a8adac !default;
$hoverColour: #8a8283 !default;
$focusColour: #fa407a !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;

// Custom header
$headerBackground: #333333 !default;
$footerBackground: #F5F5F5 !default;

@import "alembic";


